#root, html, body {
    height: 100vh;
}

body {
    margin: 0;
    background-image: url("https://cdn.discordapp.com/attachments/630277948813082632/745889860845436968/wall.jpg");
    background-position: center center;
    background-size: 100% 100%;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}